h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

h5 {
    font-size: medium;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

input[type='text'] {
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 6px 12px;
}

input[type='button'] {
    width: 475px;
    height: 30px;
    font-weight: 500;
}

/* Layout  */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.group-container {
    padding-bottom: 10px;
}

.group-container:nth-child(odd) {
    background-color: #d4d4d4;
}
.group-container:nth-child(even) {
    background-color: #a5a5a5;
}

.selection-container {
    margin-top: 25px;
}

.border-highlight,
.modal-border-highlight {
    border: 2px solid green;
}

.button-container {
    padding-top: 10px;
}

.choice-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.scroll-container {
    height: 550px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-option {
    width: 150px;
}

.main-item-option {
    width: 500px;
}

/* Box related */
.item-option > span {
    position: relative;
    top: 25px;
    left: -25px;
    background-color: #63d76c;
    color: #000000;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
}

.icon {
    outline: none;
    border: none;
    height: 30px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

.icon-minus {
    background-color: #c3312d;
}

.icon-plus {
    background-color: #489f48;
}

/* Utility CSS */

.hidden {
    display: none;
}
